.top-banner{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 530px;
        padding: 0 !important;
        margin-top: -25px;
    }
    @media (max-width: 1399px){
        .top-banner{
            height: 330px;
        }
    }
    /*@media (max-width: 769px){
        .top-banner{
            height: 230px;
        }
    }*/
    /*@media (max-width: 560px){
        .top-banner{
            height: 130px;
        }
    }*/
      .breadcrumbs-links{
        padding: 0;
    }
    .breadcrumbs-links li{
        display: inline-block;
        padding-right: 5px;
    }
    .breadcrumbs-links li a{
        font-size: 14px;
        font-weight: 300;
        color: #191C21;
    }
    .breadcrumbs-links li a.breadcrumbs-links-active{
        color: #A8B1B7;
        position: relative;
    }
    /*.breadcrumbs-links li a.breadcrumbs-links-active:before{
        content: '—';
        padding-right: 7px;
    }*/
      h1{
        font-size: 48px;
        color: #191C21;
        font-weight: 700;
        line-height: 1;
        margin: 0;
         text-align: left;
    }
    @media (max-width: 1000px){
        h1{
            font-size: 56px;
        }
    }
    @media only screen and (max-width: 708px){
    h1 {
        font-size: 56px;
    }
}
.tint-film-table table{
        width: 100%;
    }
    .tint-film-table th{
        text-align: left;
        line-height: 1.2;
        vertical-align: top;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    .tint-film-table th span{
        font-size: 13px;
        color: #A8B1B7;
        line-height: 1.2;
        text-align: left;
        font-weight: 400;
    }
    .tint-film-table th img{
        display: block;
        height: 34px;
        margin-bottom: 20px;
    }
    .tint-film-table tr td{
        height: 80px;
        font-size: 16px;
        line-height: 1.2;
    }
    .tint-film-table tr td:first-child{
        /*padding-right: 30px;*/
    }
    .dcf-table tbody td, 
    .dcf-table tbody th, 
    .dcf-table tfoot td, 
    .dcf-table tfoot th {
        padding-top: .75em;
        vertical-align: top
    }
    .mobile{display: none;}
    @media only screen and (max-width:960px) {
        .desktop{display: none;}
        .mobile{display: table;}
        .tint-film-table table{
            max-width: 690px;
            margin: 0 auto;
        }
        .tint-film-table tr td{
            height: unset;
        }

        .dcf-table-responsive thead {
            clip: rect(0 0 0 0);
            -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            width: 1px;
            white-space: nowrap
        }
        .dcf-table-responsive tr {
            display: block
        }
        .dcf-table-responsive td {
            -webkit-column-gap: 3.16vw;
            -moz-column-gap: 3.16vw;
            column-gap: 3.16vw;
            display: grid;
            grid-template-columns: 2fr 2fr;
            text-align: left!important;
        }
        .dcf-table-responsive.dcf-table-bordered, .dcf-table-responsive.dcf-table-bordered thead th {
            border-width: 0
        }
        .dcf-table-responsive.dcf-table-bordered tbody td {
            border-top-width: 0
        }
        .dcf-table-responsive:not(.dcf-table-bordered) tbody tr {
            padding-bottom: .75em
        }
        .dcf-table-responsive:not(.dcf-table-bordered) tbody td {
            padding-bottom: 0
        }
        .dcf-table-responsive:not(.dcf-table-bordered):not(.dcf-table-striped) tbody td {
            padding-right: 0
        }
        .dcf-table-responsive.dcf-table-bordered tbody tr:last-child td:last-child {
            border-bottom-width: 0
        }
        .dcf-table-responsive tbody td:nth-of-type(1){
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 14px;
            grid-template-columns: 2fr;
        }
        .dcf-table-responsive tbody td:nth-of-type(2):before {
            content: '';
            float: left;
            background-image: url(https://www.bitstop.ru/local/templates/evklead/img/tone-brand/llumar.png);
            height: 34px;
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            margin-bottom: 10px;
        }
        .dcf-table-responsive tbody td:nth-of-type(3):before {
            content: '';
            float: left;
            background-image: url(https://www.bitstop.ru/local/templates/evklead/img/tone-brand/suntek.svg);
            height: 34px;
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            margin-bottom: 10px;
        }
        .dcf-table-responsive tbody td:nth-of-type(4):before {
            content: '';
            float: left;
            background-image: url(assets/img/tint-brand/ultravision1.png);
            height: 34px;
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            margin-bottom: 10px;
        }
        .dcf-table-responsive tbody td:nth-of-type(5):before { 
            content: '';
            float: left;
            background-image: url(https://www.bitstop.ru/local/templates/evklead/img/tone-brand/suncontrol.svg);
            height: 34px;
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            margin-bottom: 10px;
        }
        .dcf-table-responsive tbody td:nth-of-type(6):before {
            content: '';
            float: left;
            background-image: url(https://www.bitstop.ru/local/templates/evklead/img/tone-brand/3m.png);
            height: 34px;
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            margin-bottom: 10px;
        }
        .dcf-table-responsive tbody td:after {
            content: attr(data-label);
            float: left;
            font-weight: 300;
            font-size: 12px;
            line-height: 1.4;
            padding-right: 1.78em;
            color: #A8B1B7;
            margin-bottom: 20px;
        }
    }
    @media only screen and (max-width:768px){
        .tint-film-table table{
            max-width: 560px;
        }
        .dcf-table-responsive td {
            grid-template-columns: 3fr 1fr;
        }
    }
    @media only screen and (max-width:560px){
        .tint-film-table table{
            max-width: unset;
        }
    }
    .dcf-overflow-x-auto {
        overflow-x: auto!important;
        -webkit-overflow-scrolling: touch
    }
      .tint-types .row{
        align-items: center;
        margin-bottom: 40px;
    }
    .tint-types img{
        display: block;
        border-radius: 10px;
    }
    .tint-types h4,.tint-types .h4{
        margin-bottom: 30px;
    }
    .tint-types span{
        font-size: 22px;
        font-weight: 400;
        line-height: 1.4;
    }
    @media only screen and (max-width:560px){.add-order{-webkit-order: 2;}}

     .tint-example-item{
        transition:.4s ease all;
        /*margin:0 -20px;*/
        transform:scale(0.8);
    } 
    .tint-example-item img{
        width: auto;
        height: 100%;
    }
    @media(max-width:1000px){
        .tint-example-item{margin:0; transform:scale(.9)}
    }
    .active.center .tint-example-item{
        transform:scale(1.2);
        z-index: 1000;
    } 
    .examples-wrapper.owl-carousel .owl-nav button.owl-prev{
        left: 25px;
        margin-top: -55px;
    }
    .examples-wrapper.owl-carousel .owl-nav button.owl-next{
        right: 25px;
        margin-top: -55px;
    }
    .owl-item.active.center .example-item-description{
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 80px;
        padding-left: 70px;
    }
    .example-item-description:before{
        width: 34px;
        height: 34px;
    }
    .example-item-description:before{
        left: 25px;
        top: -9px;
    }
    .tint-examples .btn{
        max-width: 280px;
        margin: 0 auto;
    }
    .owl-item > div {
        cursor: pointer;
        margin: 6% 8%;
        transition: margin 0.4s ease;
    }
    .owl-item.center > div {
        cursor: auto;
        margin: 0;
    }
    .owl-item:not(.center) > div:hover {
        opacity: .75;
    }
    @media (max-width: 560px){
        .example-item-description:before {
            left: 29px;
        }
    }
    .faq-block input {
        position: absolute;
        opacity: 0;
        z-index: -1; 
    }

    .faq-block .tabs {
        border-radius: 10px;
        overflow: hidden; 
    }

    .faq-block .tab {
        width: 100%;
        overflow: hidden; 
    }
    .faq-block .tab-label {
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;
        background: #ffffff;
        cursor: pointer;
        font-weight: 500;
        font-size: 22px;
        color: #CF2127;
    }
        
    .faq-block .tab-label:hover {
        background: #ffffff94; 
    }
        
    .faq-block .tab-label::after {
        content: "+";
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        transition: all .35s; 
        font-size: 1.2em;
    }
      
    .faq-block .tab-content {
        max-height: 0;
        padding: 0 25px;
        color: #000000;
        font-size: 16px;
        background: white;
        transition: all .35s; 
    }
      
    .tab-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: #2c3e50;
        cursor: pointer; 
    }
        
    .faq-block .tab-close:hover {
        background: #ffffff94; 
    }

    .faq-block input:checked + .tab-label {
        background: #ffffff; 
    }
      
    .faq-block input:checked + .tab-label::after {
        content: "–";
        color: #000000;
    }

    .faq-block input:checked ~ .tab-content {
      max-height: 100vh;
      padding: 20px 25px; 
    }
    .more-question{
        font-size: 18px;
        font-weight: 400;
        color: #000000;
        display: block;
        position: relative;
        float: right;
        padding-right: 60px;
        margin-top: 20px;
    }
    .more-question:after{
        width: 43px;
        height: 43px;
        background: #ffffff;
        border-radius: 50%;
        content: "\276F";
        text-align: center;
        display: block;
        transition: all .35s;
        transform: rotate(90deg);
        transform-origin: top left;
        position: absolute;
        right: -6px;
        top: -6px;
    }

    .reg-to-ton-wrapper{
        background: #ffffff;
        border-radius: 10px;
        padding: 55px 30px;
        column-gap: 40px;
        padding-left: 350px;
        position: relative;
		overflow: hidden;
    }
    .reg-to-ton-wrapper h4,.reg-to-ton-wrapper .h4{
        margin-bottom: 36px;
		color: #fff;
    }
    .reg-to-ton-wrapper form input.your-name,
    .reg-to-ton-wrapper form input.phone-numb{
        width: 265px;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        border: 1px solid #A8B1B7;
        padding: 0 25px;
        font-size: 16px;
        color: #565656;
        margin-right: 20px;
    }
    .reg-to-ton-wrapper form input.btn{
        width: 265px;
		background-color: #000;
    }

	.reg-to-ton-text, .reg-to-ton-wrapper form{
		z-index: 2;
		position: relative
	}
    .reg-to-ton-wrapper:before{
        content: '';
        width: 270px;
        height: 200px;
		background-image: url(/assets/img/ton.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
		left: 50px;
		z-index: 2;
		bottom: 0;
		top: 0;
		margin: auto;
		display: block;
    }
.reg-to-ton-wrapper::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #CF2127;
	top: 0;
	right: -15%;
	z-index: 1;
	transform: skew(30deg);
}
    @media only screen and (max-width: 1399px){
        .reg-to-ton-wrapper form input.your-name, 
        .reg-to-ton-wrapper form input.phone-numb{
            width: unset;
            margin-bottom: 10px;
        }
        .reg-to-ton-wrapper form input.btn{
            width: unset;
        }
        /*.reg-to-ton-wrapper:before{
            bottom: 45px;
        }*/
    }
    @media only screen and (max-width: 768px){
    .reg-to-ton-wrapper {
        background-image: url(/assets/img/002-windscreen.png);
        background-position: 80% 80%;
        background-size: 180px 180px;
        background-repeat: no-repeat;
    }
	.reg-to-ton-wrapper::before {
		display: none;
	}
	.reg-to-ton-wrapper::after {
	  transform: none;
	  right: 0;
	}
    .reg-to-ton-wrapper {
    	padding: 55px 20px !important;
	}
	.reg-to-ton-wrapper .reg-to-ton-text .h4 {
	  font-size: 30px;
	  margin-bottom: 20px;
	}
	.reg-to-ton-wrapper form {
	  display: flex;
	  flex-direction: column;
	}
	.reg-to-ton-wrapper form input.your-name, 
	.reg-to-ton-wrapper form input.phone-numb{
		margin-right: 0;
	}

}
.title-block h2 {color:#191C21;}